
.wrapper{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* height of your footer */
}
.container{
    min-width: 320px;
    overflow-x:scroll;
}
.img-center{
    margin:0 auto;
}
.form-control[readonly]{
    background-color: #fff !important;
}
.rdtTimeToggle{
    background-color: #17a2b8 !important;
}
.rdtTimeToggle:hover{
    background-color: #eeeeee !important;
}
.speciesLabel{
    font-weight: normal;
    margin-right:10px;
    padding:0 5px;
    border-radius:3px;
    border-width: 1px;
}

.speciesInput{
    margin-right:5px !important;
    
}

.errorLabel{
    background-color: #f2dede;
    color:#a94442; 
    border-color: #ebccd1;
}

input:focus{
    font-weight: bold;
}

footer{
    position:absolute;
    bottom: 0;
    width:100%;
    background:#eeeeee;
    height:100px;
    border-top: 1px solid #e7e7e7;
}
.img-dog{
    position:absolute;
    bottom:100px;
    z-index:-1;
}
.main-text{
    font-size:1.2em;
}
.white-bg{
    background-color:rgba(255,255,255,0.8);
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}